# Frontend dependencies
node_modules/
.pnp
.pnp.js
.pnpm-store/
.npm

# Frontend testing output
coverage
*.lcov

# Next.js
.next/
out/
build
dist
.parcel-cache

# Frontend deployment/runtime
.vercel

# Frontend TypeScript output
*.tsbuildinfo
next-env.d.ts
