# Dependencies
node_modules/
.pnp
.pnp.js
.pnpm-store/
.npm

# Testing
coverage
*.lcov

# Next.js
.next/
out/
build
dist
.parcel-cache

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
